@font-face {
  font-family: MC;
  src: url(https://pcode.dev/media/font/Pixeled.ttf);
}

html,
body {
  min-height: 100vh
}

a.m {
  transition: 0.3s ease-in-out;
  opacity: .2;
  color: #000;
  text-decoration: none;
}

a.m:hover {
  transition: 0.3s ease-in-out;
  opacity: 1;
  color: #000;
  text-decoration: none;
}

.MC {
  font-family: MC !important;
}

.unc {
  user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-user-select: none !important;
}

.c {
  user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  -webkit-user-select: text !important;
}

.em-2 {
  font-size: 2em !important;
}

.pointer:hover {
  cursor: pointer;
}

.card-body {
	padding: 1rem 1rem 0 1rem;
}

.card-header {
	padding: 1rem 1rem 0 1rem;
}

.card-title {
	margin: 0;
}

.card-body-title {
	display: inline;
}

.card-body-title-time {
	display: inline;
	float: right;
	padding-top: 1rem;
	opacity: 0.2;
}

#card-root {
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
}

#card-root.hidden {
	opacity: 0;
}